<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.rightutils.example">

	<application
		android:name=".applications.ExampleApplication"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity
			android:name=".activities.MainActivity"
			android:theme="@style/AppTheme"
			android:label="RightUtils examples">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activities.CustomFontActivity"
			android:label="CustomFontActivity"/>
		<activity android:name=".activities.LoaderActivity"
				  android:label="LoaderActivity"/>
		<activity android:name=".activities.FragmentLoaderActivity"
				  android:label="FragmentLoaderActivity"/>
		<uses-library android:name="android.test.runner"/>
	</application>

	<instrumentation android:name="android.test.InstrumentationTestRunner"
					 android:targetPackage="com.rightutils.example.activities"
					 android:label="Tests for com.rightutils.example.activities.MainActivity"/>

</manifest>
